<div class="row">
  <div class="input">
    <input type="text" [(ngModel)]="simpleText">
    <p>{{simpleText}}</p>
  </div>
  
  <div class="col-sm-6" *ngIf="professorSelecionado">
    
    <div class="d-flex justify-content-between">
      <div>
        <app-titulo [titulo]="'Professor(a): ' + professorSelecionado.id"></app-titulo>
      </div>
      <div>
        <button class="btn btn-outline-danger mt-2" (click)="limparSelecao()">Voltar</button>
      </div>
    </div>
    
    <form [formGroup]="professorForm" (submit)="professorSubmit">
      <div class="form-group mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control" > <!--formControlName="nome" value="{{professorSelecionado.nome}}"-->
      </div>
      <div class="form-group mb-3">
        <label for="formGroupExampleInput2" class="form-label">Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!professorForm.valid">Enviar</button>
      </div>
    </form>
  </div>
  
  <div [ngClass]="{ 'col-sm-6': professorSelecionado, 'col-sm-12': !professorSelecionado}"> <!--*ngIf="!professorSelecionado"-->
    <form>
      <app-titulo [titulo]="title"></app-titulo>
      <table class="table table-xs table-hover" >
        <thead class="thead-dark">
          <tr class="table-dark" >
            <th scope="col">Visualizar</th>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prof of professores"> <!--style="cursor: pointer;" (click)="professorSelect(prof)"-->
            <td><button class="btn btn-outline-warning" (click)="professorSelect(prof)">Visualizar</button></td>
            <th scope="row">{{prof.id}}</th>
            <td>{{prof.nome}}</td>
            <td>{{prof.disciplina}}</td>
            <td>
              <div class="btn-group">
                <button (click)="openModal(template)" class="btn btn-outline-primary">Alunos</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
     
<div class="modal-dialog modal-xl">
<ng-template  #template>
  <div class="modal-body">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      FECHAR
    </button>

  </div>
</ng-template>
</div>